.moveBtn {
  position: relative;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
  cursor: pointer;
  border: 3px dotted #ff0000;
}
.moveBtn::before {
  content: "→";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  animation: arrow_right 2s ease-out 0s infinite;
}
.moveBtn::after {
  content: "←";
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  animation: arrow_left 2s ease-out 0s infinite;
}
@keyframes arrow_right {
  0% {
    transform: translate(-100%, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
@keyframes arrow_left {
  0% {
    transform: translate(100%, -50%);
  }
  100% {
    transform: translate(0, -50%);
  }
}
